* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#haut {
  background-color: #1abc9c;
  color: white;
  padding: 4px 6px;
  height: 10%;
}

#menu {
  background-color: #9b59b6;
  color: white;
  padding: 4px 6px;
  height: 8%;
}

#milieu {
  background-color: #f39c12;
  color: white;
  padding: 4px 6px;
  flex: 1;
}

#bas {
  background-color: #95a5a6;
  color: white;
  padding: 4px 6px;
  height: 8%;
}
