
body{margin:0;font-family:Arial}
.top{background:#ff5c5c;height:80px;display:flex;align-items:center;justify-content:center}
.container{display:flex;height:500px}
.left{background:#4f79d8;width:20%}
.middle{background:#55c878;width:80%}
