
body{margin:0}
.container{display:flex;height:500px}
.left{background:#4da39b;width:50%}
.right{background:#8f43a6;width:50%}
.bottom{background:#f1c40f;height:80px;text-align:center;line-height:80px}
